@media screen and (min-width: 240px) {
  .container {
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  .search {
    background-color: #ffffff;
    border-radius: 8pt;
    display: flex;

    input {
      color: rgb(143, 149, 152);
      font-size: 14pt;
      font-family: SFProText-Regular;
      line-height: 19pt;
      letter-spacing: -0.15pt;
      border: none;
      width: 100%;
    }
  }
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}
