<div class="container">
  <div class="backImg">
    <img src="../../../assets/Images/arrowBack.png"
      srcset="../../../assets/Images/arrowBack@2x.png 2x,../../../assets/Images/arrowBack@3x.png 3x">
  </div>
  <div class="col-sm-11 col-md-11 col-xs-11 search">
  <img src="../../../assets/Images/search.png"
        srcset="../../../assets/Images/search@2x.png 2x,../../../assets/Images/search@3x.png 3x" class="inputImg">
    <div class="col-xs-12 col-md-12 col-sm-12"><input placeholder="Nhập tên, mã sản phẩm"></div>
  </div>
</div>
